body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
header#start{
    background-image: url(../img/main_fon.jpg);
    height: 100vh;

    nav{
        background-color: #000;
        color: #fff;
        padding: 20px 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .menu_main{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            a#logo{
                margin-right: 300px;
            }            
        }
        hr{
            width: 100%;
        }
    }

    .main_text{
        margin-top: 300px;
        margin-left: 200px;

        h1{
            font-size: 64px;
        }

        button{
            border: 0;
            border-radius: 5px;
            color: #fff;
            background-color: #000;
            padding: 16px 30px 14px 30px; 
            font-size: 18px;
        }
    }

    ul{
        margin-left: 0;
        padding-left: 0;
        display: inline-block;

        li{
            display: inline-block;
            list-style-type: none;
            margin-right: 25px;

            a{
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}

.container{
    width: 90vw;
    margin: auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

nav{
    padding: 25px 0;
    background: #000;
    color: #fff;

    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        color: #fff;
        text-decoration: underline;
    }
    #informat{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

section#news{

    span{
        font-size: 16px;
    }
    span.dark{
        color: gray;
    }
    .blocks_news{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        
        p{
            margin: 0;
            font-weight: 600;
        }
        .block{
            
            img{
                height: 200px;
            }
        }
    }
}

section#activity{
    margin-top: 50px;
    span{
        font-size: 16px;
    }
    span.dark{
        color: gray;
    }
    .blocks_news{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        
        p{
            margin: 0;
            font-weight: 600;
        }
        .block{
            padding: 0 20px;
            img{
                width: 100%;
            }
        }
    }
}


footer{
    background-color: #000;
    color: #fff;
    padding: 50px 0;

    #form_h{
        display: grid;
        grid-template-columns: 1fr 1fr;

        form{
            input{
                border: solid 1px #fff;
                background-color:#000;
                color: #fff;
            }
        }
    }
    h1{
        margin: 0;
    }
}